.contacts { 
  width: 615px; 
  margin: 0 auto; 
} 

.kesednsoled:after, 
.kesednsoled:before { 
  content: "."; 
  display: block; 
  overflow: hidden; 
  visibility: hidden; 
  font-size: 0; 
  line-height: 0; 
  width: 0; 
  height: 0; 
  clear: both; 
} 
.ico-wrap { 
  color: #a612d4; 
  width: 48px; 
  height: 48px; 
  margin: 30px 18px 5px 5px; 
  display: block; 
  text-align: center; 
  font-size: 25px; 
  border: 2px solid #9d1cb7; 
  float: left; 
  border-radius: 30px; 
} 
.ico-contact { 
  line-height: 1.9 !important; 
} 
.adress { 
  float: left; 
  margin-bottom: 20px; 
} 
.aio-icon-title { 
  font-size: 16px; 
  color: #950c96; 
  line-height: 1; 
  margin-bottom: 8px; 
} 

@media (max-width: 767px) { 
  .adress, 
  .ico-wrap { 
  float: none; 
  text-align: center; 
  } 
  .ico-wrap { 
  margin: 0 auto 15px auto; 
  } 
}