.Right {
		float : right;
        margin-right: 15px;
}
.Left {
		float : left;
		margin-left: 15px;
}
div{
  text-align:center;
  margin:10px;
}
body {
  margin:20px;
  background-color: #fafafa;
  font-family: sans-serif;
}
select {
  cursor: pointer;
  width:120px;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:50px;
}
textarea {
  width:200px;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:150px;
}
input[type="text"],
input[type="password"]
		{
  cursor: pointer;
  width:200px;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:50px;
}

input[type="submit"],
input[type="reset"] {
  cursor: pointer;
  width:100px;
  resize: vertical;
  padding:15px;
  background-color: white;
  border-radius:15px;
  border:none;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:50px;
}
input[type="button"]{
  cursor: pointer;
  width:200px;
  resize: vertical;
  padding:15px;
  background-color: white;
  border-radius:15px;
  border:none;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:50px;
}

.block {
    width: auto;
    height: auto;
    position: absolute;
    top: 20%;
    left: 50%;
    margin: -125px 0 0 -125px;
    border:1px solid black;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    border-radius:15px;
}
input[type="text"],
input[type="password"] {
			cursor: pointer;
 }
input[type="checkbox"],
input[type="radio"] {
			cursor: pointer;
}
