body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

section {
  margin: 20px;
}

h2 {
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}