<div class="nesolestag-enadenud"> 
  <h3 style="text-align:center;">Контакты</h3> 

  <div class="ico-wrap"> <i class="fa fa-map-marker ico-contact"></i> 
  </div> 
  <div class="meanous-andscoev"> 
  <h4 class="aio-icon-title">Юридический адрес:</h4> 
  <div class="aio-icon-description"> 
  3486452, г. Тюмень, ул. Ленина, 
  <br>дом 14, литер D, Кабинет # 31</div> 
  </div> 

  <span class="kesednsoled"></span> 

  <div class="ico-wrap"> <i class="fa fa-clock-o ico-contact"></i> 
  </div> 
  <div class="meanous-andscoev"> 
  <h4 class="aio-icon-title">График работы складов и офисов компании:</h4> 
  <div class="aio-icon-description"> 
  пн.-сб. с 10:00 до 21:00, с перерывом на обед 
  <br>Без выходных</div> 
  </div> 

  <span class="kesednsoled"></span> 

  <div class="ico-wrap"> 
  <i class="fa fa-envelope ico-contact"></i> 
  </div> 
  <div class="meanous-andscoev"> 
  <h4 class="aio-icon-title">Электронная почта:</h4> 
  <div class="aio-icon-description"> 
  zprmet_ru.@mail.ru 
  <br>desantura.@mail.ru</div> 
  </div> 

  <span class="kesednsoled"></span> 

  <div class="ico-wrap"> 
  <i class="fa fa-phone ico-contact"></i> 
  </div> 
  <div class="meanous-andscoev"> 
  <h4 class="aio-icon-title">Связь по телефону:</h4> 
  <div class="aio-icon-description"> 
  8 (423) 031-53-78 
  <br>8 (723) 904-52-72</div> 
  </div> 

  <span class="kesednsoled"></span> 

</div>